.bg {
  width: 85%;
  padding-left: 100px;
}
.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
.head {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}
.question {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-top: 45px;
}
.next i {
  width: 10%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border: 2px solid black;
  border-radius: 5px;
  position: fixed;
  bottom: 250px;
  right: 250px;
}
